body{
  font-style:italic;
  text-align: center;
}
li{
  list-style: none;
  padding: 6px;


}
span{

}
input{
    padding: 1em 6em;
    margin-bottom: 1em;
    text-align: center;


}
#submit{
    background-color: black;
    color: white;
}
